<div style="margin: 10px auto 30px;width: 95%;">
  <script>
  !function(n){if(!window.cnx){window.cnx={},window.cnx.cmd=[];var t=n.createElement('iframe');t.display='none',t.onload=function(){var n=t.contentWindow.document;c=n.createElement('script'),c.src='//cd.connatix.com/connatix.player.js',c.setAttribute('async','1'),c.setAttribute('type','text/javascript'),n.body.appendChild(c)},n.head.appendChild(t)}}(document);
  </script>
  <script id="78d488d280814440b6aa637fe6337818">
    cnx.cmd.push(function() {
      cnx({
        playerId: '1c2dff0c-a059-456e-898d-8e5b57679428'
      }).render('78d488d280814440b6aa637fe6337818');
    });
  </script>
</div>
